<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>404 Not Found</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

        body {
            background-color: #f8f8f8;
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 100px;
        }

        h1 {
            font-size: 100px;
            margin: 0;
            color: #333;
        }

        .oops {
            font-family: 'Pacifico', cursive;
            font-size: 70px;
            font-weight: normal;
            background: linear-gradient(45deg, #ff4e50, #f9d423);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-shadow:
                2px 2px 5px rgba(255, 0, 0, 0.5),
                4px 4px 10px rgba(255, 0, 0, 0.3);
            margin: 20px 0;
            background-clip: text;
        }

        p {
            font-size: 20px;
            margin: 20px 0 40px;
        }

        a {
            color: #007BFF;
            text-decoration: none;
            font-weight: bold;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>

    <h1></h1>
    <div class="oops">Oops!</div>
    <p>dummy data genration failed ˙◠˙ ,<br>
        please check if the mongo db server is running and the database is connected properly.<br>
        and restart main.js<br>
    </p>


</body>

</html>